# See http://help.github.com/ignore-files/ for more about ignoring files.
.vscode/
out-tsc/

# custom
src/template-cache.js
libs/**/build
libs/**/dist
libs/**/node_modules

# ng build map files
main.bundle.js
main.map
inline.js
inline.map
scripts.bundle.js
scripts.map
styles.bundle.js
styles.map

# compiled output
/dist
/tmp
/junit

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
